
/*=================================================
    33. RESPONSIVE - LAPTOPS / PANTALLAS MEDIANAS
=================================================*/
@media (max-width: 1200px) {
    .hero-texto h1 {
        font-size: 50px;
        line-height: 60px;
    }
    
    .nav-links {
        gap: 25px; /* Reducimos un poco el espacio entre enlaces del menú para que no se salgan */
    }
}